<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="naturalone" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.5.1.v20160129-0959"/>
<unit id="org.eclipse.pde.feature.group" version="3.11.2.v20160212-1500"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.softwareag.cis.ide.feature.group" version="8.3.8.0000-0278"/>
<unit id="com.softwareag.common.feature.group" version="9.12.0.0000-0145"/>
<unit id="com.softwareag.common.l10n.de.feature.group" version="9.12.0.0000-0145"/>
<unit id="com.softwareag.lic.utils.feature.feature.group" version="5.6.3.0000-0501"/>
<unit id="com.softwareag.naturalone.engineer.ui.feature.group" version="8.3.2.0000-0001"/>
<unit id="com.softwareag.naturalone.gen.cst.feature.group" version="8.3.8.0000-0240"/>
<unit id="com.softwareag.naturalone.natural.ide.feature.group" version="8.3.8.0000-0278"/>
<unit id="com.softwareag.naturalone.natural.mfnavigator.feature.group" version="8.3.8.0000-0240"/>
<unit id="com.softwareag.naturalone.predict.objdesc.feature.group" version="8.3.8.0000-0240"/>
<unit id="com.softwareag.patches.org.eclipse.epp.logging.aeri.feature.feature.group" version="1.0.0"/>
<unit id="com.softwareag.patches.org.eclipse.platform.feature.feature.group" version="1.0.0"/>
<unit id="com.softwareag.plm.deployer.acdl.shared.feature.feature.group" version="9.12.0.0000-0179"/>
<unit id="com.softwareag.tps.apache.commons.beanutils.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.apache.commons.collections.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.apache.commons.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.apache.commons.lang.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.eclipse.blueprint.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.eclipse.springframework.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gemini.blueprint.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.group.jaxb.osgi.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.group.jaxrpc.api.osgi.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.javax.jms.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.javax.mail.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.javax.persistence.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.javax.resource.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.javax.transaction.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.jaxb.osgi.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.jaxm.api.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.jaxrpc.api.osgi.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.jersey.client.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.jersey.core.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.gf.osgi.resource.locator.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.spring.core.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.spring.transaction.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="com.softwareag.tps.ws.tools.feature.feature.group" version="9.12.0.0000-0023"/>
<unit id="org.eclipse.datatools.common.doc.user.feature.group" version="1.12.0.v201405281819-26-311A16321A3557"/>
<unit id="org.eclipse.datatools.connectivity.doc.user.feature.group" version="1.12.0.v201405281819-37D-7733L3D753L7BBF"/>
<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.12.0.v201406061321-7C7n9DEsxcwtN5odeWrQrgwYHq8"/>
<unit id="org.eclipse.datatools.connectivity.oda.designer.core.feature.feature.group" version="1.12.0.v201406061321-787B7PBgJ9DUBNCVAaSZ"/>
<unit id="org.eclipse.datatools.connectivity.oda.designer.feature.feature.group" version="1.12.0.v201406061321-4147w312514242925"/>
<unit id="org.eclipse.datatools.connectivity.oda.feature.feature.group" version="1.12.0.v201406061321-7E7C7YBgJ9ET9OHLDfLZ"/>
<unit id="org.eclipse.datatools.doc.user.feature.group" version="1.12.0.v201405281819-47C18w95FHAM87EJJD7"/>
<unit id="org.eclipse.datatools.enablement.apache.derby.feature.feature.group" version="1.12.0.v201406061321-777B8gBmKFQ3NjRaMjbx8GDI"/>
<unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.12.0.v201406061321-7J9t0B_0haN-EchrvGIyEh2M8j8a"/>
<unit id="org.eclipse.datatools.enablement.hsqldb.feature.feature.group" version="1.12.0.v201406061321-67G0AqGDM7KfNWJjJS8GDI"/>
<unit id="org.eclipse.datatools.enablement.ibm.feature.feature.group" version="1.12.0.v201406061321-7G-7cFD3wThz-VTq2cpq3"/>
<unit id="org.eclipse.datatools.enablement.ingres.feature.feature.group" version="1.12.0.v201406061321-540AkF78Z7UCRAQDB"/>
<unit id="org.eclipse.datatools.enablement.jdbc.feature.feature.group" version="1.12.0.v201406061321-4-49oB58B7DAF7FCH"/>
<unit id="org.eclipse.datatools.enablement.jdt.feature.feature.group" version="1.12.0.v201406061321-2-07w312218332612"/>
<unit id="org.eclipse.datatools.enablement.msft.feature.feature.group" version="1.12.0.v201406061321-5478AkF7AO7UBQAK8M"/>
<unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.12.0.v201406061321-5478AkF7AK8X9JCREG"/>
<unit id="org.eclipse.datatools.enablement.oda.designer.feature.feature.group" version="1.12.0.v201406061321-647L9oB58H5E8E8TBK"/>
<unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.12.0.v201406061321-7D7U7OEVVFNSGfJoIz0Of"/>
<unit id="org.eclipse.datatools.enablement.oracle.feature.feature.group" version="1.12.0.v201406061321-548fAkF7AL7RBJANAI"/>
<unit id="org.eclipse.datatools.enablement.postgresql.feature.feature.group" version="1.12.0.v201406061321-553AkF7AK8PCRBQBP"/>
<unit id="org.eclipse.datatools.enablement.sap.feature.feature.group" version="1.12.0.v201406061321-540AkF7AJ7YEJBU7S"/>
<unit id="org.eclipse.datatools.enablement.sqlite.feature.feature.group" version="1.12.0.v201406061321-542AkF7AJ7SAKAPBF"/>
<unit id="org.eclipse.datatools.enablement.sybase.feature.feature.group" version="1.12.0.v201406061321-7E478F9NiNc2S7fxRCTD"/>
<unit id="org.eclipse.datatools.intro.feature.group" version="1.12.0.v201405281819-26-7w312116392911"/>
<unit id="org.eclipse.datatools.modelbase.feature.feature.group" version="1.12.0.v201406061321-7707GCcNBHLDaKTEcRi"/>
<unit id="org.eclipse.datatools.sqldevtools.data.feature.feature.group" version="1.12.0.v201406061321-647ABgJ9EKDJDNAdHO"/>
<unit id="org.eclipse.datatools.sqldevtools.ddl.feature.feature.group" version="1.12.0.v201406061321-27B-78B08EG8S_IRVNeUiL6au"/>
<unit id="org.eclipse.datatools.sqldevtools.ddlgen.feature.feature.group" version="1.12.0.v201406061321-7A-7DF7RZHQUMdThK5_t"/>
<unit id="org.eclipse.datatools.sqldevtools.feature.feature.group" version="1.12.0.v201406061321-7N8P7IFDri6qjCyg6Q61VhVsihvO"/>
<unit id="org.eclipse.datatools.sqldevtools.parsers.feature.feature.group" version="1.12.0.v201406061321-623BgJ9EE9ZJRDZLA"/>
<unit id="org.eclipse.datatools.sqldevtools.results.feature.feature.group" version="1.12.0.v201406061321-427H9oB58F6A8I5KGJ"/>
<unit id="org.eclipse.datatools.sqldevtools.schemaobjecteditor.feature.feature.group" version="1.12.0.v201406061321-4218375LG5BJ93413"/>
<unit id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.feature.group" version="1.12.0.v201406061321-79-7FEVVFNSI_QiI-Sd"/>
<unit id="org.eclipse.datatools.sqltools.doc.user.feature.group" version="1.12.0.v201405281819-37D-7733L3D753L7BBF"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.10.1.201508170204"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.4.1.v20160212-1350"/>
<unit id="org.eclipse.e4.rcp.source.feature.group" version="1.4.1.v20160212-1350"/>
<unit id="org.eclipse.e4.tools.bundle.spy.feature.feature.group" version="0.1.0.v20170601-1400"/>
<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.17.0.v20170601-1400"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20170601-1400"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.15.0.v20170601-0901"/>
<unit id="org.eclipse.e4.tools.model.spy.feature.feature.group" version="0.1.0.v20170601-0901"/>
<unit id="org.eclipse.e4.tools.preference.spy.feature.feature.group" version="0.1.0.v20170601-0901"/>
<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.17.0.v20170601-1400"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.2.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.egit.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.egit.mylyn.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.egit.source.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.11.1.v20160208-0841"/>
<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.11.1.v20160208-0841"/>
<unit id="org.eclipse.emf.codegen.feature.group" version="2.11.0.v20160208-0841"/>
<unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20160208-0841"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.11.1.v20160208-0816"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.10.1.v20160208-0841"/>
<unit id="org.eclipse.emf.converter.feature.group" version="2.11.0.v20160208-0841"/>
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20160208-0841"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20160208-0841"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20160208-0841"/>
<unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.11.0.v20160208-0841"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.2.v20160208-0816"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.11.1.v20160208-0841"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.11.1.v20160208-0841"/>
<unit id="org.eclipse.emf.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.10.0.v20160208-0841"/>
<unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.9.0.v20160208-0841"/>
<unit id="org.eclipse.emf.mapping.feature.group" version="2.9.0.v20160208-0841"/>
<unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.9.0.v20160208-0841"/>
<unit id="org.eclipse.epp.logging.aeri.feature.feature.group" version="1.100.0.v20160217-0435"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.4.2.v20160210-2005"/>
<unit id="org.eclipse.epp.package.common.feature.feature.group" version="4.5.2.20160218-0600"/>
<unit id="org.eclipse.epp.package.jee.feature.feature.group" version="4.5.2.20160218-0600"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.100.v20150527-1706"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.300.v20150430-1836"/>
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.101.v20160129-0947"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-1318"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.102.v20160129-0947"/>
<unit id="org.eclipse.gef.feature.group" version="3.10.1.201508170204"/>
<unit id="org.eclipse.help.feature.group" version="2.1.2.v20160212-1500"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.jgit.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.jgit.source.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.jpt.common.eclipselink.feature.feature.group" version="1.3.101.v201410241959"/>
<unit id="org.eclipse.jpt.common.feature.feature.group" version="1.4.1.v201410241959"/>
<unit id="org.eclipse.jpt.dbws.eclipselink.feature.feature.group" version="1.2.101.v201501152048"/>
<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.4.102.v201501171820"/>
<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.5.2.v201501171820"/>
<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.4.1.v201409111648"/>
<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.4.2.v201512181609"/>
<unit id="org.eclipse.jsf.feature.feature.group" version="3.8.0.v201505112336"/>
<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.6.3.v201501141810"/>
<unit id="org.eclipse.jst.enterprise_core.feature.feature.group" version="3.6.0.v201602161345"/>
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.7.0.v201602161345"/>
<unit id="org.eclipse.jst.enterprise_userdoc.feature.feature.group" version="3.6.0.v201405070205"/>
<unit id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature.feature.group" version="2.6.0.v201410101748"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.401.v201508232356"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.400.v201503102136"/>
<unit id="org.eclipse.jst.server_core.feature.feature.group" version="3.4.200.v201512031711"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.200.v201512031711"/>
<unit id="org.eclipse.jst.server_userdoc.feature.feature.group" version="3.3.300.v201503102136"/>
<unit id="org.eclipse.jst.web_core.feature.feature.group" version="3.7.1.v201509021802"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.7.1.v201512021921"/>
<unit id="org.eclipse.jst.web_userdoc.feature.feature.group" version="3.6.0.v201405070205"/>
<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.7.1.v201508270443"/>
<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.1.301.v201410160332"/>
<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.203.v201503151903"/>
<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.302.v201504272154"/>
<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.203.v201602092125"/>
<unit id="org.eclipse.jst.ws.jaxws_userdoc.feature.feature.group" version="1.0.402.v201503151903"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.6.2.20150902-0002"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.6.2.20150902-0002"/>
<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.m2e.wtp.jaxrs.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.m2e.wtp.jpa.feature.feature.group" version="1.2.1.20150819-2224"/>
<unit id="org.eclipse.m2e.wtp.jsf.feature.feature.group" version="1.2.1.20150819-2220"/>
<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.18.0.v20151009-2340"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.18.0.v20151116-1930"/>
<unit id="org.eclipse.mylyn.commons.identity.feature.group" version="1.10.0.v20151009-1724"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="1.10.0.v20151102-1814"/>
<unit id="org.eclipse.mylyn.commons.repositories.feature.group" version="1.10.0.v20151116-1930"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.18.0.v20151014-2324"/>
<unit id="org.eclipse.mylyn.discovery.feature.group" version="3.18.0.v20151009-1724"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.18.0.v20151013-1847"/>
<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.18.0.v20151013-1847"/>
<unit id="org.eclipse.mylyn.monitor.feature.group" version="3.18.0.v20151009-1724"/>
<unit id="org.eclipse.mylyn.tasks.ide.feature.group" version="3.18.0.v20151009-2340"/>
<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.18.0.v20151120-2228"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="2.7.0.v20151015-1452"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.18.0.v20151211-2235"/>
<unit id="org.eclipse.oomph.p2.feature.group" version="1.3.0.v20160213-0953"/>
<unit id="org.eclipse.oomph.setup.core.feature.group" version="1.3.0.v20160213-0953"/>
<unit id="org.eclipse.oomph.setup.feature.group" version="1.3.0.v20160213-0953"/>
<unit id="org.eclipse.pde.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.platform.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.rcp.source.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.recommenders.mylyn.rcp.feature.feature.group" version="2.4.9.v20170613-1301"/>
<unit id="org.eclipse.recommenders.rcp.feature.feature.group" version="2.4.9.v20170613-1301"/>
<unit id="org.eclipse.recommenders.snipmatch.rcp.feature.feature.group" version="2.4.9.v20170613-1301"/>
<unit id="org.eclipse.rse.core.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.dstore.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.ftp.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.local.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.ssh.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.telnet.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.rse.useractions.feature.group" version="3.7.0.201505221634"/>
<unit id="org.eclipse.tm.terminal.connector.local.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.tm.terminal.connector.serial.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.tm.terminal.connector.ssh.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.tm.terminal.connector.telnet.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.tm.terminal.control.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.tm.terminal.view.feature.feature.group" version="4.0.0.201506040610"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.0.v201505072140"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.7.1.v201508262220"/>
<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.7.2.v201510130022"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="1.6.201.v201512010225"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.402.v201505042029"/>
<unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.600.v201601132216"/>
<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.3.601.v201602111638"/>
<unit id="org.eclipse.wst.server_userdoc.feature.feature.group" version="3.3.300.v201405011426"/>
<unit id="org.eclipse.wst.web_core.feature.feature.group" version="3.7.1.v201601132216"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201602111638"/>
<unit id="org.eclipse.wst.web_userdoc.feature.feature.group" version="3.6.0.v201405062147"/>
<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="3.7.0.v201505131719"/>
<unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.7.1.v201512021921"/>
<unit id="org.eclipse.wst.ws_userdoc.feature.feature.group" version="3.1.400.v201405061938"/>
<unit id="org.eclipse.wst.ws_wsdl15.feature.feature.group" version="1.5.400.v201405061938"/>
<unit id="org.eclipse.wst.xml.xpath2.processor.feature.feature.group" version="2.0.301.v201409111854"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.7.2.v201510130005"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.7.2.v201511240257"/>
<unit id="org.eclipse.wst.xml_userdoc.feature.feature.group" version="3.6.0.v201405062147"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.401.v201509231858"/>
<unit id="org.sonatype.m2e.mavenarchiver.feature.feature.group" version="0.17.0.201502101659-signed-20150525172209"/>
<repository location="file:/C:/Dev/PluginE4WS/com-softwareag-p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.core.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.generator" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.1.0.v201303031500"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v201303031500"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.junit.source" version="4.11.0.v201303080030"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<unit id="org.mockito" version="1.8.4.v201303031500"/>
<unit id="org.mockito" version="1.9.5.v201311280930"/>
<unit id="org.mockito.source" version="1.8.4.v201303031500"/>
<unit id="org.mockito.source" version="1.9.5.v201311280930"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
</locations>
</target>
